# -----------------------------------------
# .gitignore Configuration for web-ext
# -----------------------------------------

# Ignore the 'web-ext-artifacts' directory where build artifacts are stored
web-ext-artifacts/
